/* Base styles */
body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /* Default values */

  /* font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: white; */
}

/* color and decoration link website */

a {
  color: #2e2f42;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #404bbf;
}

ul,
ol {
  list-style-type: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
/* Header section */

.header {
  background-color: #e7e9fc;
}
.header-nav {
}

.header-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-span-header {
  color: #2e2f42;
}
.header-list {
  color: #434455;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-nav:hover,
.header-nav:focus {
  color: #404bbf;
}
.header-item {
}
.header-list-link {
}
.header-adress {
  color: #434455;
  font-style: normal;
}
.adress-list {
}
.adress-item {
}
.adress-mail {
  color: #434455;
}
.adress-tel {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Hero section */
.hero {
  background-color: #2e2f42;
}
.hero-item {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-btn {
  background: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:active {
  background: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

/* Features section */
.features {
}
.features-list {
}
.features-item {
}
.features-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-desc {
}

/* Team section */
.team {
  background-color: #f4f4fd;
}
.team-title,
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list,
.portfolio-list {
  background-color: #ffffff;
}
.team-item {
}
.team-pic {
}
.team-caption,
.portfolio-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
.team-caption {
  text-align: center;
}

.team-desk {
  background-color: #ffffff;
  text-align: center;
}

/* Portfolio section */
.portfolio {
  background-color: #f4f4fd;
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-caption {
}
.portfolio-pic {
}
.portfolio-desk {
  background-color: #e7e9fc;
}

/* Footer section */
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-span-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
