/* Base styles */
body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;

  /* Default values */

  /* font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: white; */
}

/* color and decoration link website */

a {
  color: #2e2f42;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #404bbf;
}

ul,
ol {
  list-style-type: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
/* Header section */

.header {
  background-color: #e7e9fc;
}
.header-nav {
}
.header-nav:hover,
.header-nav:focus {
  color: #404bbf;
}

.header-logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-accent {
  color: #4d5ae5;
}
.header-list {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-item {
}
.header-list-link {
}
.header-adress {
  color: #434455;
  font-weight: 400;
  font-style: normal;
}
.adress-list {
}
.adress-item {
}
.adress-mail {
}
.adress-tel {
}

/* Hero section */
.hero {
  background-color: #2e2f42;
}
.hero-item {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-btn {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  /* Button Text */
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:active {
  background: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

/* Features section */
.features {
  background: #fff;
}
.features-list {
  background: #fff;
}
.features-item {
}
.features-caption {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-desc {
}

/* Team section */
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
}
.team-item {
}
.team-pic {
}
.team-caption {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-desk {
  text-align: center;
}
/* Footer section */
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-accent {
  color: #4d5ae5;
}
.footer-text {
  color: #f4f4fd;
}
